{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block title %} Equipo {% endblock title %}
{% load static %}
{% block contenido %}

<div class="container">
  <div class="row ">
    <a href=" {% url 'factura-tfactura' %}" class="btn d-flex justify-content-center " alt="Marca"  title="Regresar"
      style=" margin-top: 25px; margin-bottom: 25px; width: 65px; ">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class=" opcionesTabla bi bi-arrow-left-square-fill  "
        viewBox="0 0 16 16">
        <path
          d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z" />
      </svg>
    </a>
  </div>
  <div class="row p-1">
    <div class="col-md-4">
      <div class="border bg-white p-3">
        <h4>Agregar preguntas al sondeo {{sondeo.id}}</h4>
        <hr>
        <form action="" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <input class="btn btn-success btn-block " type="submit" Value="Agregar a la Factura">
          <a class="btn btn-danger btn-block text-light"
            href="{% url 'sondeo_estado' pk=sondeo.id estado='cerrar' %}">Cerrar sondeo</a>
        </form>
      </div>
    </div>

    <div class="col-md-8 p-4 bg-tabla">
      <p class="txtMainI">Preguntas {{factura.id}}</p>
      <table class="table bg-white table-bordered results" id="tabla">
        <thead class="theadtable">
          <tr class="text-white">
            <th scope="col">Pregunta</th>
          </tr>
        </thead>
        <tbody>
        {% for pregun in pregunta %}

          <tr>
            <td class="dtr-control sorting_1">{{pregun.pregunta}}</td>
        {% endif %}
            </td>
          </tr>
          
          {% endfor %}
          
        </tbody>
        
      </table>
      
    </div>
  </div>

</div>

{% endblock contenido %}