{% load static %}
<header >
    <div class="fondo-header" >
        
        <div class="container" >
            
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              </a>
              <h1 class=" text-center py-3 ">Sistema de sondeos</h1>
              <div class="col-md-3 text-end">
                <div class=""><a href="{% url 'usuario-login' %}"><input type="button" class="btn  btn-light" value="Ingresar"></a>
                <button type="button" class="btn btn-primary">Registrar</button>
                <button type="button" class="my-3 mx-2 btn btn-primary">Verificar certificado</button>
                
              </div>
            </div>
        </div>
    </div>
    
</header>