{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="mx-auto align-content-center">
    <div class="container-fluid">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success btn-block"
                        type="submit" Value="Agregar">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}