{% extends 'partials/body.html' %}
{% load crispy_forms_tags %}
{% block contenido %}

<div class="container-fluid mx-1 d-flex w-100 bg-primary">
    <div class="col-4 d-flex w-25">
        <div class="border bg-white p-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block"
                    type="submit" Value="Agregar">
            </form>
        </div>
    </div>
    
    <!-- filtros -->
    
    <div class="col-7 mx-5 w-75 bg-danger d-flex">
         {% for sondeo in sondeos %}
            <div class="card m-2" style="width: 18rem;">
            <img src="{{sondeo.image.url}}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{sondeo.idTema.tema}}</h5>
                <p class="card-text">{{sondeo.fechaApertura}} - {{sondeo.fechaCierre}}</p>
                <a href="#" class="btn btn-primary">Ver Sondeo</a>
                </div>
            <br>
            </div>
        {% endfor %}
          
    </div>
    
</div>


{% endblock contenido %}